/* 5.2: Dark mode base styles */
body {
    background-color: #121212;
    color: #e0e0e0;
}

/* Style input fields - Make text boxes white */
input.snippet-title, textarea {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    border: 1px solid #aaa;
}

/* Navbar styles */
.navbar {
    border-bottom: 1px solid #e0e0e0;
}

/* Editing panel styles - No left border */
.editor {
    border-left: none;
}

/* Buttons - Updated Blue Color */
.navbar a {
    background-color: #1e90ff; /* New shade of blue */
    color: white;
    margin: 0.16em;
    padding: 0.64em;
    text-decoration: none;
    border-radius: 4px;
}

.navbar a:hover {
    background-color: #0d78d0; /* Slightly darker blue on hover */
}