/* 3.1: Default fonts */
body {
    font-family: sans-serif;
}

textarea {
    font-family: monospace;
}

/* 3.2: Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

/* 3.3: Logo styling */
.navbar img {
    height: 100%;
}

/* 3.4: Tab styling */
.navbar a {
    background-color: #3498db;
    color: white;
    margin: 0.16em;
    padding: 0.64em;
    text-decoration: none;
}

/* 4.5: Sidebar styling */
.sidebar {
    width: 16%;
    float: left;
}

/* 4.6: Editing panel styling */
.editor {
    width: 80%;
    float: left;
    border-left: 1px solid black;
}